form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin-bottom: 2rem;
  // margin: 2rem auto;
}

input[type="email"],
button[type="submit"] {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0;
  border: 1px solid var(--fg);
  background-color: var(--bg);
  color: var(--fg);
  transition: all 0.2s ease-in-out;
}

input[type="email"] {
  &:focus {
    outline: none;
    border-color: var(--acc);
    // box-shadow: 0 0 8px var(--acc);
  }
}

button[type="submit"] {
  cursor: pointer;
  background-color: var(--acc);
  border-color: var(--acc);
  color: var(--bg);
  font-weight: bold;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: var(--fg);
    border-color: var(--fg);
    color: var(--bg);
    outline: none;
    // box-shadow: 0 0 8px var(--fg);
  }

  &:active {
    transform: translateY(1px);
  }
}
