body > main > article {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 2rem 4rem 2rem;
  &.regular {
    // padding: 1rem;
  }
  &.event {
    img.flyer {
      padding: 1rem 0;
      height: 100%;
    }
  }
  p {
    max-width: 640px;
    &:has(+ h2) {
      margin-bottom: 4rem;
    }
  }
  img {
    width: 100%;
  }
}

nav.prev_next {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
