@use "breakpoint";

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: scroll;
  background: black;
  color: white;
  > header {
    line-height: 1;
    // display: none;
    // padding: 0.75rem 0.75rem;
  }
  > nav {
    line-height: 1;
    display: flex;
    padding: 0.75rem 0.75rem;
    text-transform: uppercase;
    > * {
      margin-right: 0.5ch;
    }
    > span {
      color: var(--acc);
      cursor: default;
      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
    > a {
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: var(--cyan);
      }
    }
  }
  > main {
    width: 100%;
    // height: 100%;
    // background: yellow;
  }
  > footer {
    line-height: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    // font-size: 50%;
    text-transform: uppercase;
    // background: var(--bg);
    a {
      text-decoration: none;
      border: none;
    }
  }
  > aside {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
    padding: 1rem;
    background: var(--cyan);
    color: #0000ff;
    display: none;
  }
}

// @media screen and (min-width: breakpoint.$tablet) {
// }
