:root {
  --bg: #000;
  --fg: #fee;
  --acc: red; //ed2c3e

  --cyan: #0a9fdf;
  --green: #388250;
  --magenta: #fb0f94;
  --orange: #c8452e;
  --yellow: #f8ed01;
}

body {
  background: var(--bg);
  color: var(--fg);
}

::selection {
  background: var(--magenta);
  color: var(--yellow);
}

a {
  color: var(--fg);
}
