@use "break";

:root {
  --font-size: 14px;
  line-height: 1.725;
  @include break.max(md) {
    --font-size: 13px;
  }
}

html {
  font-size: var(--font-size);
  font-family: monospace;
  font-style: normal;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--fg);
}

hr {
  margin: 4rem 0;
  border: none;
  border-top: 1px solid var(--fg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.3em;
  margin: 1em 0 1em 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
}

p,
ol,
ul {
  margin-bottom: 1rem;
}

blockquote {
  margin: 2rem 0;
  padding: 0 0 0 1rem;
  border-left: 0.5rem solid var(--fg);
  font-style: italic;
}
