
{{ define "partials/flyer2" }}
    <!-- {{ .File.ContentBaseName }} -->

    {{ $sizes := split (.Scratch.Get "sizes") " " }}
    {{ $format := .Scratch.Get "format" | default "" }}
    <!-- { { $resize_str := print "x " $format }} -->

    {{ with $res := .Resources.Get "flyer" }}
        {{ .Params.title }}
        {{ $srcset := slice }}
        {{ range $size := $sizes }}
            {{ if ge $res.Width $size }}
                {{ $srcset = $srcset | append (print ($res.Resize (print $size "x " $format)).RelPermalink (print " " $size "w")) }}
            {{ end }}
        {{ end }}
        {{ $srcsetstr := delimit $srcset ", " }}
        <img src="{{ .RelPermalink }}" srcset="{{ $srcsetstr }}"></img>
    {{ end }}
    <!-- <img src="/{{ .File.Dir }}{{ .Params.flyer }}"></img> -->
{{ end }}


{{ define "main" }}
<ol class="events">
    {{ range $page := .Pages }}
        {{ with .Resources.Get "flyer" }}
        <li>
            <a href="{{ $page.Permalink }}" title="{{ $page.Params.description }}">
                {{ partial "flyer" $page }}
            </a>
        </li>
    {{ end }}
    {{ end }}
</ol>
{{ end }}

