{{ $url := print .Site.BaseURL "event/" .File.ContentBaseName }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MusicEvent",
    "name": "{{- .Title -}}",
    "identifier": "{{- .Title -}}",
    "startDate": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "endDate": "{{ (.Date.AddDate 0 0 1).Format "2006-01-02" }}T06:00:00{{ .Date.Format "Z07:00" }}",
	"description": "{{- .Params.description -}}",
    "eventStatus": "https://schema.org/EventScheduled",
    {{ if .Params.online }}
    "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
    {{ else }}
    "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
    {{ end }}
    "organizer": {
        "@type": "Organization",
        "name": "panzerschokolade",
        "url": "{{ .Site.Params.contact.web }}"
    },
    "location": {
        "@type": "Place",
		"name": "TBA"
    },
    "isAccessibleForFree": true,
    "offers": {
      "@type": "Offer",
      "price": "0",
      "priceCurrency": "EUR"
    },
    "url": "{{ $url }}",
    {{ with .Params.tags }}"keywords": {{.}},{{ end }}
	{{ with .Params.artists }}
    "performer": [
      {{ range $index, $element := . }}
      { "@type": "Person", "name": "{{- . -}}" }{{ if ne (add $index 1) (len $) }},{{ end }}
      {{ end }}
    ],
	{{ else }}
    "performer": { "@type": "PerformingGroup", "name": "Various" },
	{{ end }}
    {{ with .Resources.Get "flyer" }}
    "image": [
        "{{ .Permalink }}"
	],
    {{ end }}
    "audience": {
      "@type": "Audience",
      "audienceType": "Adults"
    }
  }
</script>
