
@import "enron/interaction";
@import "enron/typo";

@font-family-title: Roboto;
@font-family-regular: Roboto;

@keyframes fade_in {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hue_rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

body {
  overflow-x: hidden;

  font-family: sans;
  .typo-body1;

  background: #000;
  color: #fff;

  cursor: help;
}

::selection {
  background: #c60042;
  color: #f8ed01;
}

::-webkit-scrollbar {
  border: none;
  width: 6px;
}
::-webkit-scrollbar::horizontal,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #c60042;
  border-radius: 6px;
  &:hover {
    background: #f8ed01;
  }
}

a {
  color: #f8ed01;
  &:hover {
    color: #c60042;
  }
}

p {
  margin: 0 0 1rem;
}

h1 {
  .typo-h1();
}
h2 {
  .typo-h2();
}
h3 {
  .typo-h3();
}
h4 {
  .typo-h4();
}
h5 {
  .typo-h5();
}
h6 {
  .typo-h6();
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
video {
  display: block;
}

///////////////////////////////////////////////////////////////////////////////////

header {
  display: none;
  z-index: 100;
  .no-user-drag;
  .no-user-select;
}

nav {
  animation: hue_rotate 16s infinite;

  display: none;
  position: fixed;
  //bottom: 50%;
  bottom: 1vh;
  right: 1vw;
  z-index: 100;
  text-transform: uppercase;
  .no-user-drag;
  .no-user-select;

  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.9),
    -4px -4px 12px 0px rgba(0, 0, 0, 0.5);
  /*
	position: fixed;
	background: #000;
	a {
		animation: hue_rotate 20s infinite;
		padding: 20px;
		writing-mode: vertical-rl;
		text-orientation: upright;
}
*/
  a {
    font-family: monospace;
    font-size: 20px;
    background: #ff0000;
    padding: 10px;
    animation: hue_rotate 10s infinite;
  }
}

main {
  //padding-bottom: 100px;
  //padding: 16px 16px 48px 16px;
  z-index: 10;
}

main article {
  padding: 16px 16px 48px 16px;
  //max-width: 1000px;
}

footer {
  display: none;
  /*
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem 0.75rem;
	background: #000;
	box-shadow: -4px 0 8px rgba(0,0,0,0.9);
	*/
}

///////////////////////////////////////////////////////////////////////////////////

main ol.flyers {
	column-width: 400px;
	column-gap: 1px;
	column-count: 10;
  img {
    width: 100%;
	max-width: 100%;
	margin-bottom: 1px;
    .no-user-drag;
    .no-user-select;
  }
}

main article.about {
  //margin: 48px auto 0 auto;
  //max-width: 1000px;
  //padding: 100px 100px;
  color: #ff0000;
  animation: hue_rotate 13s infinite;
}
