
@import "normalize";
@import "mixins/no-user-drag";
@import "mixins/no-user-select";

@flyer-width: 425px;
@flyer-height: 600px;


/*
@font-face {
    font-family: Anonymous;
    src: url('font/Anonymous Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avestan;
    src: url('font/NotoSansAvestan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Bamum;
    src: url('font/NotoSansBamum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Brahmi;
    src: url('font/NotoSansBrahmi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

@keyframes fade-in {
    0% {
        //opacity: 0;
        transform: scale(0.01);
    }
    100% {
        //opacity: 1;
        transform: scale(1);
    }
}

body {

    overflow-x: hidden;

    //font-family: Brahmi;
    //font-size: 14px;

    background: #000;
    color: #fff;

    cursor: help;
}

* {
    box-sizing: border-box;
}

a {
    cursor: n-resize;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
::-webkit-scrollbar-track {
    background: #016FC1;
}
::-webkit-scrollbar-thumb {
	background: #C60042;
	border-radius: 6px;
	//background-blend-mode: difference;
    &:hover {
        border-radius: 6px;
        background: #F8ED01;
    }
}
*/

#youtube-player {
    display: none;
}

header {
    display: none;
    //position: relative;
    //z-index: 1;
    //width: 800px;
    //margin: 0 auto;
    //color: #144192;
}

/*
main {

    position: relative;
    z-index: 1;
    width: 800px;
    margin: 0 auto;
    background: #CB1D26;

    box-shadow:
         20px  20px 30px rgba(0,0,0,0.4),
        -20px -20px 30px rgba(0,0,0,0.4);
}
*/

#flyer.grid {

    //position: fixed;
    //top: 0;
    //right: 0;
    //left: 0;
    //bottom: 0;
    //z-index: 0;

    width: 100%;
    padding: 1px;

    li {

        display: inline;
    	position: relative;
    	float: left;
        //overflow: hidden;
        width: calc(100% / 5);

        video {
            width: 100%;
            height: 100%;
            //width: 425px;
            //height: 600px;
        }

        img, video {

            display: block;
            margin: 0px;
            padding: 1px;
            width: 100%;
            max-width: 425px;
            max-height: 600px;

            //animation: fade-in 2s ease-in-out;

            .no-user-drag;
            .no-user-select;
        }

        //z-index: 1;
        //transition: transform 0.1s;
    }

    /*
    li:hover {
        transform: scale(1.01);
        z-index: 100;
    }
    */

    @media screen and (max-width: 2125px) {
        li {
            width: calc(100% / 5);
        }
    }
    @media screen and (max-width: 1700px) {
        li {
            width: calc(100% / 4);
        }
    }
    @media screen and (max-width: 1275px) {
        li {
            width: calc(100% / 3);
        }
    }
    @media screen and (max-width: 850px) {
        li {
            width: calc(100% / 2);
        }
    }
    @media screen and (max-width: 425px) {
        li {
            width: 100%;
        }
    }
}

footer {
    display: none;
}
