html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
	Correct `block` display not defined for any HTML5 element in IE 8/9.
	Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
	Correct `block` display not defined for `main` in IE 11.
**/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
	1. Correct `inline-block` display not defined in IE 8/9.
	2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
**/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
**/
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
**/
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
pre {
  overflow: auto;
}
body {
  padding: 4px;
  background: #000;
  color: #fff;
}
* {
  box-sizing: border-box;
}
ol {
  margin: 0;
  padding: 0;
}
header {
  display: none;
}
ol#flyer li {
  display: inline-block;
  list-style: none;
}
ol#flyer li img {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 425px;
  max-height: 600px;
  outline: none;
  border: 0;
  background-image: none;
  -webkit-user-select: none;
  cursor: help;
}
footer {
  display: none;
}
/*
#panzerlax {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //position: absolute;
    //clip: rect(10px, 20px, 50px, 50px);
    //clip-path: url(#clipping);
}
#panzerlax img.layer {
    //-webkit-filter: drop-shadow(10px 10px 40px #000);
}

@import "../../../../lib/om.parallax/res/style/parallax";
*/
