html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
	Correct `block` display not defined for any HTML5 element in IE 8/9.
	Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
	Correct `block` display not defined for `main` in IE 11.
**/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
	1. Correct `inline-block` display not defined in IE 8/9.
	2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
**/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
**/
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
**/
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
pre {
  overflow: auto;
}
.no-user-drag {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
}
.no-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
body {
  overflow-x: hidden;
  background: #000;
  color: #fff;
  cursor: help;
}
* {
  box-sizing: border-box;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
::-webkit-scrollbar-track {
    background: #016FC1;
}
::-webkit-scrollbar-thumb {
	background: #C60042;
	border-radius: 6px;
	//background-blend-mode: difference;
    &:hover {
        border-radius: 6px;
        background: #F8ED01;
    }
}
*/
header {
  display: none;
}
#youtube-player {
  display: none;
}
#flyer.grid {
  position: relative;
  width: 100%;
}
#flyer.grid li {
  display: inline;
  position: relative;
  float: left;
  width: calc(20%);
}
#flyer.grid li img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  display: block;
  margin: 0px;
  width: 100%;
  max-width: 425px;
  max-height: 600px;
}
@media screen and (max-width: 2125px) {
  #flyer.grid li {
    width: calc(20%);
  }
}
@media screen and (max-width: 1700px) {
  #flyer.grid li {
    width: calc(25%);
  }
}
@media screen and (max-width: 1275px) {
  #flyer.grid li {
    width: calc(33.33333333%);
  }
}
@media screen and (max-width: 850px) {
  #flyer.grid li {
    width: calc(50%);
  }
}
@media screen and (max-width: 425px) {
  #flyer.grid li {
    width: 100%;
  }
}
footer {
  display: none;
}
